<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área Protegida</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido, {{ name }}!</h1>

        <div class="appointment-card">
            <div class="appointment-details">
              <h2>Cita Médica</h2>
              <p><strong>Día:</strong> Lunes</p>
              <p><strong>Hora:</strong> 10:00 AM</p>
              <p><strong>Fecha:</strong> 25 de Abril de 2024</p>
            </div>
            <div></div>
            <button class="pay-btn">Pagar</button>
        </div>

        <div class="appointment-card">
            <div class="appointment-details">
              <h2>Cita Médica</h2>
              <p><strong>Día:</strong> Lunes</p>
              <p><strong>Hora:</strong> 10:00 AM</p>
              <p><strong>Fecha:</strong> 25 de Abril de 2024</p>
            </div>
            <div></div>
            <button class="pay-btn">Pagar</button>
        </div>

        <div class="appointment-card">
            <div class="appointment-details">
              <h2>Cita Médica</h2>
              <p><strong>Día:</strong> Lunes</p>
              <p><strong>Hora:</strong> 10:00 AM</p>
              <p><strong>Fecha:</strong> 25 de Abril de 2024</p>
            </div>
            <div></div>
            <button class="pay-btn">Pagar</button>
        </div>


        <div>
            <a href="/logout" class="logout-btn">Cerrar Sesión</a>
        </div>
        
    </div>
</body>
</html>
